	@font-face {
			font-family: 'sor-iransans';
 			font-weight:300;
			src: url('../fonts/sor-iransans-300.woff') format('woff');
		} 	
		@font-face {
			font-family: 'sor-iransans';
			font-weight:normal;
			font-weight:400;
			src: url('../fonts/sor-iransans-400.woff') format('woff');
		}
		@font-face {
			font-family: 'sor-iransans';
			font-weight:bold;
			font-weight:700;
			src: url('../fonts/sor-iransans-700.woff') format('woff');
		} 
	
		@font-face {
			font-family: 'sor-iransans';
			font-weight:medium;
			font-weight:500;
			src: url('../fonts/sor-iransans-500.woff') format('woff');
		} 
	
		@font-face {
			font-family: 'sor-iransans';
 			font-weight:900;
			src: url('../fonts/sor-iransans-900.woff') format('woff');
		} 	
		body .sor-sorsorak *{
			transition: all;
			font-family: 'sor-iransans'!important;
		}
